<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Desarrollando Soluciones</h2>
                <hr class="light">
                <p class="text-faded">Dedicados a buscar soluciones, optimazar procesos, ayudamos a potenciar los ingresos de nuestros clientes mediante el uso de tecnologias avanzadas.</p>

            </div>
        </div>
    </div>
</section>
