<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Devsolpy</h1>
            <hr>
            <p>Desarrollo de Soluciones Informaticas del Paraguay</p>
            <p>
              Desarrollo de Aplicaciones Webs,
              Computación en la nube,
              Automatizacion de Procesos,
              Desarrollo de Soluciones a Medida,
              Administración de Sistemas,
              Soporte Tecnico, Consultoria y Auditoria de Sistemas
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Mas información</a>
        </div>
    </div>
</header>
